#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

:root{
  --background-color: #41394d;
}

body{
  background-color: var(--background-color);
  transition: background-color 0.1s ease-in-out;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
}

.text-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: inherit;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.check-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown{
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "lucida handwriting", cursive, sans-serif;
}

.menu{
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.05);
  font-family: "lucida handwriting", cursive, sans-serif;
}